body {
    background-size: cover;
    background-image: url("/../garasiromi.github.io/gbr/latars.jpg");
}

.navbar {
    background-color: transparent;
}

nav.navbar.navbar-default {
    border: hidden;
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}

a.ling {
    color: #ffffff !important;
    font-family: raleway;
    font-weight: bold;
    text-shadow: 1.5px 1px #000000;
}